body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: white;
  color: black;
  padding-bottom: 50px;
}

h1 {
  font-size: 2.5rem;
}

.header {
  text-align: center;
  font-size: 30px;
}
