:root {
  --color-light: #e39774;
  --color-medium: #5c9ead;
  --color-dark: #326273;
  --color-highlight: hsla(19, 66%, 80%, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
  padding: 10px 0 0 0;
}

.header {
  display: flex;
  justify-content: center;
  /* max-width: 400px; */
  margin-bottom: 1em;
}

.header img {
  height: 8em;
  image-rendering: crisp-edges;
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.label-logo {
  height: 1.5em;
  margin-right: 5px;
}
