#date-picker {
  display: flex;
  justify-content: center;
  align-self: center;
}

#date-picker input {
  border: 0;
  border-radius: 6px;
  padding: 0.1em 0.5em;
  box-shadow: 1px 1px 5px #000;
  font-size: 1.5em;
  height: 1.8em;
  width: 10em;
}
