#login-button-area a,
#login-button-area a:hover {
  text-decoration: none;
}

#login-button-area {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

#login-button-area a {
  border: 0px;
  box-shadow: 0 0 0;
  background: inherit;
}

.facebook-login {
  align-items: center;
  background: #395ca9;
  border: solid white 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000;
  color: white;
  display: flex;
  font-size: 1em;
  padding: 0.3em 0.5em;
}

.fa-facebook-square {
  font-size: 1.4em;
  margin-right: 10px;
}
