.label-filter {
  align-items: center;
  background-color: #eee;
  border-radius: 4%;
  display: flex;
  margin: 5px;
  padding: 5px;
  transition: background 0.2s ease-in-out;
}

.filtered-label {
  background-color: #aaa;
}
